/* tittle styles */
.title-name{
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
}
.btn{
  color:darkgreen;
  border-radius: 5px;
  margin: 20px;
}
/* bd-2.0 styles */
.Bangladesh-20{
  padding: 117px 580px 197px 40px;
 
  
}
.bd-tittle{
  background-color:#C6E4D6;
  display: flex;
  justify-content: space-between;
  margin: 74px 180px;
  border-radius: 24px;
}
.BD-20{
  color: #474747;
  font-size: 25px;
  border: 0 160px;
}
.btn-primary{
  background-color: #006A50;
  color: white;
  padding: 17px 34px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}
.bd-tittle img{
  padding: 80px;
  width: 475px;

}
.New{
  color: #0E0E0E;
  font-size: 100px;
}
/* bd 2nd styles */
.bd-2nd-tittle{
  margin: 32px 160px;
}
.bd-2nd{
  color: #474747;
}
.nd-tittle{
  font-size: xx-large;
}
.skills{
  display: flex;
  padding: 32px;
  gap: 24px;
  margin: 32px 160px;
}
.image{
  width: 80px;
  
}
.image-2{
  width: 80px;
}
.image-3{
  width: 80px;
}
.skill{
  padding: 32px;
}
.skill-1{
  background-color: #dce0e6;
  border-radius: 15px;
}
.skill-2{
  background-color: #C6E4D6;
  border-radius: 15px;
}
.skill-3{
  background-color: #e7c785;
  border-radius: 15px;
}
/* bottum styles */
.learn{
  background-color:cornflowerblue;
  color: white;
  border-radius: 5px;
  padding: 15px 11px;
  font-size: 15px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}
.learn-2{
  background-color:rgb(101, 171, 101);
  color: white;
  border-radius: 5px;
  padding: 15px 11px;
  font-size: 15px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}
.learn-3{
  background-color:#6d6549;
  color: white;
  border-radius: 5px;
  padding: 15px 11px;
  font-size: 15px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}
.yunus-details{
  background-image: url(assets/quote-bg.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-position: 20px 40px;
  padding: 48px 24px;
  margin: 32px 160px;
  
}  
/* news styles */
.News-title{
  padding: 0 160px;
  display: block;
}
.Read-more{
  background-color: #006A50;
}
.Satellite{
  padding: 48px;
  display: flex;
  align-items: center;
  box-shadow:0 4px 4px 0px rgb(203, 181, 181);
  border-radius: 10px;
  margin: 24px 160px;

}
.satelite-profile{
  border-radius: 25px;
  width: 400px;
  height: 306px;
}
.Satellite-details{
   padding-left: 32px;
}
.Satellite-details-2{
  padding-right: 32px;
}