/* tittle styles */
.title-name{
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
}
.btn{
  color:darkgreen;
  border-radius: 5px;
  margin: 20px;
}
/* bd-2.0 styles */
.Bangladesh-20{
  padding: 117px 580px 197px 40px;
 
  
}
.bd-tittle{
  background-color:#C6E4D6;
  display: flex;
  justify-content: space-between;
  margin: 74px 180px;
  border-radius: 24px;
}
.BD-20{
  color: #474747;
  font-size: 25px;
  border: 0 160px;
}
.btn-primary{
  background-color: #006A50;
  color: white;
  padding: 17px 34px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}
.bd-tittle img{
  padding: 80px;
  width: 475px;

}
.New{
  color: #0E0E0E;
  font-size: 100px;
}
/* bd 2nd styles */
.bd-2nd-tittle{
  margin: 32px 160px;
}
.bd-2nd{
  color: #474747;
}
.nd-tittle{
  font-size: xx-large;
}
.skills{
  display: flex;
  padding: 32px;
  gap: 24px;
  margin: 32px 160px;
}
.image{
  width: 80px;
  
}
.image-2{
  width: 80px;
}
.image-3{
  width: 80px;
}
.skill{
  padding: 32px;
}
.skill-1{
  background-color: #dce0e6;
  border-radius: 15px;
}
.skill-2{
  background-color: #C6E4D6;
  border-radius: 15px;
}
.skill-3{
  background-color: #e7c785;
  border-radius: 15px;
}
/* bottum styles */
.learn{
  background-color:cornflowerblue;
  color: white;
  border-radius: 5px;
  padding: 15px 11px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}
.learn-2{
  background-color:rgb(101, 171, 101);
  color: white;
  border-radius: 5px;
  padding: 15px 11px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  width: 151px;
  height: 56px;
  font-size: 18px;
}
.learn-3{
  background-color:#6d6549;
  color: white;
  border-radius: 5px;
  padding: 15px 11px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}
.yunus-details{
  background-image: url(assets/quote-bg.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-position: 20px 40px;
  padding: 48px 24px;
  margin: 32px 160px;
  
}  
/* news styles */
.News-title{
  padding: 0 160px;
  display: block;
}
.Read-more{
  background-color: #006A50;
}
.Satellite{
  padding: 48px;
  display: flex;
  align-items: center;
  box-shadow:0 4px 4px 0 rgb(225, 210, 210);
  border-radius: 10px;
  margin: 24px 160px;

}
.satelite-profile{
  border-radius: 25px;
  width: 400px;
  height: 306px;
}
.Satellite-details{
   padding-left: 32px;
}
.Satellite-details-2{
  padding-right: 32px;
}
/* Donate styles */
.Donate{
  text-align: center;

}
.Donate-tittle{
  font-weight: bold;
  font-size: 40px;
}
.Taka{
  width: 240px;
  height: 140px;
  padding: 40px 40px;
  border-radius: 16px;
  background-color: white;
  color:black;
  font-size: 30px;
  cursor: pointer;
  margin: 24px;
  border-color: rgba(14, 14, 14, 0.15);
  
}
.taka-200{
  background-color: #C6E4D6;

}
.Taka-1:hover{
  background-color:red;
}
.Other{
  width: 1032px;
  height: 65px;
  text-align: center;
  font-size: 20px;
  margin: 40px 20px;
  border-color: rgba(14, 14, 14, 0.15);
}
/* Subscribe styles */
.Subscribe{
  text-align: center;
  margin: 80px 160px;
  background-color: #a8dbce;
  border-radius: 24px;
  padding: 80px 100px;
}
.Subscribe-title{
  font-weight: bold;
  font-size: 40px;
}
.search-holder{
  width: 600px;
  height: 55px;
  padding: 18px  40px ;
  margin: 24px 0px;
  font-size: 16px;
  border-color: rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  margin-right: 0px;
}
.Subscribe-button{
  margin-left: 0px;
  height: 180px;
  height: 90px;
}
/* footer styles */
.footer{
  text-align: center;
  margin: 50px 50px;
  padding: 50px 690px;
}
.footer-title{
  font-weight: bold;
  font-size: 32px;
}
.icon{
  padding-left: 24px;
  margin-top: 32px;
}
